<div class="row">
  <main class="small-12 columns landing">
    <div class="landing-statement">
      <h1 class="landing-title">
        <% if logged_in? %>
          Logged in as <%= current_user.email %>.
        <% else %>
          <%= link_to "log in", login_path %>
        <% end %>

        <span class="landing-title-highlight">7201 </span>
        <%= @fact.description %>
      </h1>
    </div>
      <a href="<%= single_category_path(@fact.category.title) %>">

      <div class="rnd-btn">
        <div class="category-logo">
          <img src="<%= asset_path( 'category_icons/water.svg' ) %>">
          <p><span class="im-span">I'm</span><span class="in-span">In</span></p>
        </div>
      </div>
      </a>
  </main>
</div>
