<div class="row">
  <main class="small-12 columns">
    <div class="goals">
      <h1><%= @goal.title %></h2>
      <p><%= @goal.description %></p>
    </div>

 

    <button class="rnd-btn complete-btn">
      <div class="category-logo">
        <img src="<%= asset_path( 'category_icons/plants.svg' ) %>">
      </div>
      <div class="goal-completed hide">
        <img class="done" src="<%= asset_path( 'completed-tick.svg' ) %>" alt="">
      </div>
    </button>
       <div>
          <h2>Thanks for contributing</h2>
        </div>
    <div class="row goal-stats">
      <div class="small-3" id="joined">
        <h1>Joined</h1>
        <p><span><%= @goal_details['joined'] %></span></p>
      </div>
      <div class="small-3" id="completed">
        <h1>Completed</h1>
        <p><span><%= @goal_details['completed'] %></span></p>
      </div>

      <div class="small-3" id="saved">
        <h1>Saved</h1>
        <p><span><%= @goal_details['saved'] %><em>Trees</em></span></p>
      </div>
    </div>
  </main>

  <script>
    $( document ).ready(function(){
      <% if logged_in? %>
      // Log that the user clicked the button
      $(".rnd-btn").click(function(){
        $.ajax({
          url: "/goals/<%= @goal.title %>",
          type: "PATCH",
          data: {
            user: "something",
          },
          context: this,
          success: function(data){
            // if the user click is successfully logged,
            // update the page to the new values
            $('#joined').find("span").html(data['joined']).css('color', '#F7C03A');
            $('#completed').find("span").html(data['completed']).css('color', '#F7C03A');
            $('#saved').find("span").html(data['saved']).css('color', '#F7C03A');
            $(this).prop('disabled', true);
            $(this).find('.goal-completed').show();
            $(this).find('.category-logo').removeAttr('position');
          }
        });
      });
      <% else %>
      $(".rnd-btn").click(function(){
        window.location.href = "/login"
      });
      <% end %>
    });
  </script>
</div>
