<div class="goal">
  <h3>Make a difference, click to choose a task.</h3>
</div>

<% @goals.each do |goal| %>
<a href="<%= single_goal_path(goal.title) %>">
	<article class="cat-show">


		<div class="overlay-progress"></div>
		<div class="cat-info">
			<div class="cat-image">
				<img src="<%= asset_path( 'category_icons/water.svg' ) %>" alt="">
			</div><!--
			--><div class="goal-info">
				<h1><%= goal.title %></h1>
	   		<p><%= goal.description  %></p>

			</div>
			<div class="participation-info">
				<p><span class="joined"><%= goal.users.length %></span> others on-board</p>

				<p>Target:<span class="target"><%= goal.target %></span></p>
			</div>
		</div>

	</article>
</a>
<% end %>

<script>
	$(document).ready(function() {
		// write function to generate progress bar according to statistic
		$.each($('article'), function() {

			$progressBar = $(this);
			$joined = $(this).find('.joined');
			$target = $(this).find('.target');
			$percentage = $joined.text() / $target.text() * 100;

			$progressBar.velocity(
	      {
	        backgroundSize: $percentage+"%",
	        backgroundColor: "#ffffff"
	      },
	      {
	        delay: 300,
	        easing: "easeOut",
	        duration: 850
	      });
			console.log($percentage);
			console.log($progressBar, $joined, $target);
  	});
	});
</script>